<form>
  Name:<br>
  <input type="text"  id="comment_name">
  <br>
  Comment:<br>
  <input type="text" id="comment_body">
  <br><br>

  <button type="button" class="btn btn-primary" value="Save" id="add_comment" data-value-id = '<%= params[:id] %>' >Save</button>
</form> 