<div id="page_wrapper">
	<div class="container">
		<!-- <div class="imgwrapper">
			<%= image_tag "about.jpg",:class =>"img-responsive"%>
		</div> -->
		<div id="content">
			<center>
				<h1>Hey, I'm Suman Das</h1>
				<p>Welcome you to my website</p>
				<p>.</p>
				<p>If you'd like to follow me, find me on Linkedin <a href="https://www.linkedin.com/in/suman-das-9068b5142/">@SUMAN DAS</a>
				or on the Github at <a href="https://github.com/SumanDas3001">@SumanDas3001</a>, and then get my projects details and source code.</p>
			</center>
		</div>
	</div>
</div>
